$color-black: #000;
$color-black-2: #333;
$color-gray: #FEFEFE;
$color-gray-2: #E6E6E6;
$color-gray-3: #7d7d7d;
$color-white: #fff;
$color-yellow: #FFAA00;
$color-blue: #00C3E6;
$color-green: #4CBB17;
$color-green-2: #094009;

// font family
$font-family-primary: serif;
$font-family-secondary: sans-serif;