.form {
  &__wrapper {
    max-width: 70rem;
    margin: 3rem auto 2rem;

    @include mq('tablet') {
      margin: 4rem auto 8rem;
    }
  }

  &--rocket-bg {

    @include mq('tablet-wide') {
      background-image: url(../img/rocket.png);
      background-repeat: no-repeat;
      background-size: 20rem;
      background-position: 100% 112%;
    }


    @include mq('desktop') {
      background-size: 25rem;
      background-position: 100% 112%;
    }

    @include mq('desktop-wide') {
      background-position: 95% 112%;
      background-size: 35rem;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.6rem;

    @include mq('tablet') {
      margin: 0 -4rem;
    }
  }

  &__col {
    flex: 0 0 100%;
    padding: 0 1.6rem;

    @include mq('phablet') {
      flex: 0 0 50%;
    }

    @include mq('tablet') {
      padding: 0 4rem;
    }

  }

  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;

    @include mq('phablet') {
      margin-bottom: 3.2rem;
    }

    &-label {
      margin-bottom: 0.8rem;
    }

    &-select {
      padding: 0.8rem 1.6rem;
      border-radius: 0.4rem;
    }
  }

  &__button {
    margin-top: 2.4rem;
    text-align: right;

    @include mq('phablet') {
      margin-top: 3.6rem;
    }

    @include mq('tablet') {
      margin-top: 7.2rem;
    }
  }
}